
.body {
  background: #e1eaec;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -180px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 180px;
}

td {
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    width: 750px !important;
  }
}
@media (min-width: 992px) {
  .container {
    width: 750px !important;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 750px !important;
  }
}

h1 a {
  text-decoration: none;
  color:black
}

h1 a:hover {
  text-decoration: none;
  color:black
}

p a {
  text-decoration: none;
  color:white
}

p a:hover {
  text-decoration: none;
  color:white
}

#toolbarbottom li {
  display:inline-block;
  padding:0 10px !important;
  -webkit-padding-start: 0px !important;

}

#toolbarbottom li img {
  display:block;
}

.estimationbutton {
  background-color: rgb(245, 245, 245);
  border: 3px solid #5bc0de;
  border-radius: 50%;
  margin-top: 10px;
  color: black;
  width: 80px;
  height:80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.estimationbutton:hover {
  background-color: rgb(225, 234, 236);
}

.estimationbutton-active {
  background-color: rgb(225, 234, 236);
}

.estimationbutton:focus,.estimationbutton:active {
  outline: none !important;
}

ul {
  margin: 0;
  padding: 0;
}

.well-navbar {
  background-color: #5bc0de !important;
}