<div class="section background-color body">
    <div ng-include="'views/header.view.html'"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center well">
                    <h2 class="text-center">{{ storyName }}</h2>
                    <h3 class="text-center">{{ 'create_estimation_heading' | translate }}</h3>
                    <p class="text-center">{{ 'create_estimation_desc' | translate }}</p>
                    <br />
                    <form>
                        <div id="toolbarbottom">
                            <ul>
                                <li ng-repeat="(key, card) in cardSet">
                                    <button class="estimationbutton" ng-click="setEstimationValue(card.index)"
                                            ng-class="{'estimationbutton-active': value === card.index}" ng-a
                                    >
                                        {{ card.value }}
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <br/>
                        <div class="alert alert-danger" role="alert" ng-show="creationError">
                            {{ creationErrorMessage | translate }}
                        </div>
                        <button class="btn btn-info" data-toggle="button" type="submit" ng-click="createEstimation()">
                            {{ 'create_estimation_button' | translate }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>