<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Remote Scrum Poker&nbsp;</h1>
            <p>Copyright © 2016 Samuel Heinzmann, <a href="http://www.swisscom.com">Swisscom AG</a></p>
        </div>
        <div class="col-sm-6">
            <p class="text-info text-right">
                <br>
                <br>
            </p>
            <div class="row">
                <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                    <a href="https://twitter.com/swisscom_de"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                    <a href="https://www.facebook.com/Swisscom"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                    <a href="https://github.com/PanteraLX"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 hidden-xs text-right">
                    <a href="https://twitter.com/swisscom_de"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                    <a href="https://www.facebook.com/Swisscom"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                    <a href="https://github.com/PanteraLX/"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>