<div class="container" ng-controller="HeaderCtrl">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <h1>Remoker</h1>

            <ol class="breadcrumb text-right" ng-hide="hideRoomName">
                <li ng-hide="hideInfo">{{ 'room_id' | translate }}: <b>{{ roomId }}</b></li>
                <li ng-hide="hideInfo">
                    {{ 'url' | translate }}:
                    <button class="btn btn-small btn-info" uib-popover="{{ roomUrl }}" popover-title="URL" popover-placement="bottom">
                        {{ 'show_url' | translate }}
                    </button>
                </li>
            </ol>
        </div>
    </nav>
    <br />
    <br />

    <div class="alert alert-danger" role="alert" ng-show="connectionError">
        {{ connectionErrorMessage }}
    </div>

</div>