<div class="container" ng-controller="HeaderCtrl">
    <nav class="navbar navbar-default">
        <a class="navbar-brand" href="#"><b>Remoker</b></a>

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item" ng-hide="hideInfo">
                <a class="nav-link" >{{ 'room_id' | translate }}: <b>{{ roomId }}</b></a>
            </li>
            <li class="nav-item" ng-hide="hideInfo">
                <a class="nav-link">{{ 'url' | translate }}:
                    <b ng-hide="hideInfo" uib-popover="{{ roomUrl }}" popover-title="URL" popover-placement="bottom-right">
                        {{ 'show_url' | translate }}
                    </b>
                </a>
            </li>
        </ul>
    </nav>
    <br />

    <div class="alert alert-danger" role="alert" ng-show="connectionError">
        {{ connectionErrorMessage }}
    </div>
</div>