<div class="section background-color body">
    <div ng-include="'views/header.view.html'"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center well">
                    <h2 class="text-center">{{ storyName }}</h2>
                    <h3 class="text-center">{{ 'overview' | translate }}</h3>
                    <p>{{ 'overview_desc' | translate:'{storyname: storyName}' }}</p>
                    <table class="table table-striped table-responsive">
                        <tbody>
                        <tr ng-repeat="(key, developer) in developers"
                            ng-class="{'success' : hasEstimation[developer.id] === true }">
                            <td>{{ key + 1 }}</td>
                            <td>{{ developer.name }}</td>
                            <td>{{ developer.created_at.sec * 1000 | date:'dd.MM.yyyy HH:mm' }}</td>
                        </tr>
                        </tbody>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{{ 'developer_name' | translate }}</th>
                            <th>{{ 'join_time' | translate }}</th>
                        </tr>
                        </thead>
                    </table>
                    <a ng-show="isMaster" class="btn btn-info" data-toggle="button" ng-click="resolveStory()">
                        {{ 'resolve_story_button' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
