<div class="section background-color body">
    <div ng-include="'views/header.view.html'"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center well">
                    <p class="text-center">On this page all, developers are shown which have already send an estimation
                        for the story.</p>
                    <h3 class="text-center">Story</h3>
                    <p class="text-center">test</p>
                    <h3 class="text-center">Developer Overview</h3>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Samuel</td>
                            <td>jetzt</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Samuel</td>
                            <td>vorher</td>
                        </tr>
                        </tbody>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Developer name</th>
                            <th>Estimation time</th>
                        </tr>
                        </thead>
                    </table>
                    <a class="btn btn-info" data-toggle="button">Resolve Story</a>
                </div>
            </div>
        </div>
    </div>
</div>
