<div class="section">
    <div ng-include="'views/header.view.html'"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center well">
                    <h3 class="text-center">{{ 'create_room_heading' | translate }}</h3>
                    <p class="text-center">{{ 'create_room_desc' | translate }}</p>
                    <form class="text-center" role="form">
                        <div class="form-group row">
                            <label for="roomName" class="control-label">{{ 'room_name' | translate }}</label>
                            <div class="col-sm-12">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <input type="text" class="form-control" id="roomName" ng-model="roomName"
                                           placeholder="{{ 'name_spec' | translate }}" required>
                                </div>
                            </div>
                        </div>
                        <p class="text-center">{{ 'create_room_schema_desc' | translate }}</p>
                        <div class="form-group">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary" ng-repeat="schema in schemas"
                                       ng-click="setSchema(schema)">
                                    <input type="radio" name="schemaRadios"
                                           ng-value="schema" value="{{ schema }}"
                                           ng-model="sheet.schema">
                                    {{ schema }}
                                </label>
                            </div>
                        </div>
                        <div class="alert alert-danger" role="alert" ng-show="creationError">
                            {{ creationErrorMessage | translate }}
                        </div>
                        <br/>
                        <button type="submit" class="btn btn-info" ng-click="createRoom()">{{ 'create_room_button' |
                            translate }}
                        </button>
                    </form>

                    <hr>
                    <h3 class="text-center">{{ 'join_room_heading' | translate }}</h3>
                    <p class="text-center">{{ 'join_room_desc' | translate }}</p>
                    <form class="text-center" role="form">
                        <div class="form-group row">
                            <label for="roomId" class="control-label">{{ 'room_id' | translate }}</label>
                            <div class="col-sm-12">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <input type="text" class="form-control" id="roomId" ng-model="roomId"
                                           placeholder="{{ 'id_spec' | translate }}">
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-danger" role="alert" ng-show="joinError">
                            {{ joinErrorMessage | translate }}
                        </div>
                        <button type="submit" class="btn btn-info" ng-click="getRoom()">{{ 'join_room_button' |
                            translate }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
