<div class="section">
    <div ng-include="'views/header.view.html'"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center well">
                    <h3 class="text-center">{{ 'create_story_heading' | translate }}</h3>
                    <p class="text-center">{{ 'create_story_desc' | translate }}</p>
                    <form role="form">
                        <div class="form-group row">
                            <label for="storyName" class="control-label">{{ 'story_name' | translate }}</label>
                            <div class="col-sm-12">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <input type="text" class="form-control" id="storyName"
                                           placeholder="{{ 'name_spec' | translate }}" ng-model="storyName">
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-danger" role="alert" ng-show="creationError">
                            {{ creationErrorMessage | translate }}
                        </div>
                        <button type="submit" class="btn btn-info" ng-click="createStory()">
                            {{ 'create_story_button' | translate }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
