<div class="section background-color body">
    <div ng-include="'views/header.view.html'"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center well">
                    <p>{{ 'remoker_intro' | translate }}</p>
                    <hr>
                    <h3 class="text-center">{{ 'create_user_heading' | translate }}</h3>
                    <p>{{ 'create_user_desc' | translate }}</p>
                    <form class="form-horizontal text-center" role="form">
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label for="userName" class="control-label">{{ 'user_name' | translate }}</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="userName"
                                       placeholder="{{ 'name_spec' | translate }}" ng-model="userName">
                            </div>
                        </div>
                        <div class="alert alert-danger" role="alert" ng-show="creationError">
                            {{ creationErrorMessage | translate }}
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-info" ng-click="createUser()">{{ 'create_user_button' | translate }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
