<div class="section background-color body">
    <div ng-include="'views/header.view.html'"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center well">
                    <p>{{ 'remoker_intro' | translate }}</p>
                    <hr>
                    <h3 class="text-center">{{ 'create_user_heading' | translate }}</h3>
                    <p>{{ 'create_user_desc' | translate }}</p>
                    <br />
                    <form role="form">
                        <div class="form-group row">
                            <label class="control-label" for="userName">{{ 'user_name' | translate }}</label>
                            <div class="col-sm-12">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <input class="form-control" id="userName"
                                           placeholder="{{ 'name_spec' | translate }}" ng-model="userName">
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-danger" role="alert" ng-show="creationError">
                            {{ creationErrorMessage | translate }}
                        </div>
                        <button type="submit" class="btn btn-info" ng-click="createUser()">{{ 'create_user_button' | translate }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="storyModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'no_story' | translate }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ 'no_story_message' | translate }}</p>
            </div>
        </div>
    </div>
</div>
